h1 {
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
}

/*----------------- LANDING PAGE -----------------*/

.landing{
    background-image: url('images/landingBackground.png');
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    position:fixed;
    z-index:1;
}

.startButton{
    position:absolute;
    bottom: 10%;
    left:50%;
    transform:translate(-50%);
    font-size: 1.5rem;
}

/*----------------- MAIN PAGE -----------------*/

.main{
    height:100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section{
    height:25%;
    flex: 1;
    padding: 0;
}

.section p {
    padding: 0;
}

.section{
    position:relative;
    background-size:100% 100%;
    background-repeat:no-repeat;
    border:1px solid purple;
    box-sizing:border-box;
}

.sectionTitle{
    font-size:1.5rem;
    margin:0;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: white;
}

.wholeContainer{
    height:100%;
    display:none;
}

.contentContainerTitle {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
}

.contentContainerTitle h2 {
    display: inline-block;
    font-size: 2rem;
    color: white;
    margin: 1%;
}

.contentContainer {
    height: 85%;
    width: 100%;
    background-color: #fce4ec;
    overflow-y: scroll;
}

/*----------------- DETAILS -----------------*/

.details{
    background-image:url('images/details.png');
}

.detailsTitle {
    margin-top: 0;
    font-size: 2rem;
}

.detailsImage {
    height: 100px;
}

/*----------------- COCKTAILS -----------------*/

.cocktail {
    background-image:url('images/cocktails.png');
}

/*----------------- FOOD -----------------*/

.food {
    background-image: url('images/food.jpeg');
}

.titleContainer.foodSearch {
    width: 93%;
    padding-top: 2%;
    float: right;
}

/*----------------- MUSIC -----------------*/

.music {
    background-image:url('images/music.png');
}

.videoContainer {
    height: 95%;
}

/*----------------- MODALS -----------------*/

.searchContainer,
.informationContainer,
.contentContainer {
    display: none;
    position: absolute;
}

.searchContainer, 
.informationContainer {
    height: 85%;
    width: 100%;
    background-color: #f3e5f5;
}

.listImageContainer {
    float: left;
    padding: 0 3% 3% 0;
}

/*----------------- SEARCH MODAL -----------------*/

.searchContainer {
    z-index: 3;
}

.searchHeading {
    height: 15%;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.listItemContainer {
    overflow-y: scroll;
    height: 85%;
}

.searchIcon {
    width: 15%;
    height: 30%;
    background-color: #26a69a;
    text-align: center;
    padding: 3% 1%;
    box-shadow: 0 8px 6px -6px gray;
    border-radius: 4px;
}

.beef {
    width: 85%;
    padding: 6% 0 0 0;
}

/*----------------- INFORMATION MODAL -----------------*/

.informationContainer {
    display:none;
    z-index: 5;
    overflow-y: scroll;
}

.displayContainer {
    padding: 0 3% 3% 3%;
}

.recipe {
    clear: left;
}

/*----------------- CARD CONTAINERS -----------------*/

.card {
    background-color: #9c27b0;
}

.card.selected {
    background-color: #d81b60;
}

.buttonStyle {
    align-self:flex-end;
}

.titleLink{
    height:100%;
    font-size:20px;
    color:white;
}

.mainTitle{
    text-align:center;
}

.pink.lighten-2 {
    background-color: #f48fb1;
}

/*----------------- FONTAWESOME -----------------*/

.fas {
    color: white;
}

.fa-utensils, 
.fa-glass-martini-alt, 
.fa-music, 
.fa-user {
    font-size: 2em;
}

.fas.fa-plus {
    font-size: 1em;
}

.beefIcon {
    padding: 0.7% 0;
}

.searchIcon .fas {
    font-size: 2.4em;
}

.fa-spinner {
    font-size: 3em;
    color: #9c27b0;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%); 
}