/*----------------- NEW CODE -----------------*/

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.hidden {
    display: none;
}

/*----------------- LANDING PAGE -----------------*/

.landing {
    background-image: url('images/landingBackground.png');
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    position:fixed;
    z-index:1;
}

.startButton {
    font-size: 130%;
    bottom: 10%;
    background-color:rgb(218,11,79)
}

.mainTitle {
    text-align:center;
    color: rgb(53, 34, 221);
    text-shadow: #cacbf6 1px 1px 1px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Major Mono Display', monospace;
    font-weight:bold;
    font-size:3.5rem;
    padding-top: 15px;
}

.description {
    text-align:center;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
    font-family: 'Shadows Into Light', cursive;
    color:white;
}

/*----------------- SECTIONS -----------------*/

.cocktailDetails, 
.foodDetails, 
.musicDetails,
.partyDetails, 
.addedItems,
.itemInfo {
    height: 85vh;
    padding: 4% 3% 0 3%;
    text-align: center;
    overflow: hidden;
}

.detailsHeader, 
.cocktailsHeader, 
.foodHeader, 
.musicHeader,
.partiesHeader,
.editPartyHeader {
    height: 15vh;
    margin: 0;
    padding-top: 5%;
    color: white;
    text-align: center;
    background-size: cover;
} 

.details h4,
.cocktail h4, 
.food h4, 
.music h4 {
    margin-bottom: 8%;
}

.text:nth-child(2){
    margin-bottom: 4%;
}

.searchInputContainer {
    margin-top: 10%;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.cocktailSearchInput::placeholder,
.foodSearchInput::placeholder, 
.musicSearchInput::placeholder{
    opacity: 1;
    font-family: 'Shadows Into Light', cursive;
}

.cocktailSearchButton,
.foodSearchButton, 
.musicSearchButton {
    width: 10%;
    margin: 3% 0 0 3%;
    padding: 0.5% 1% 1% 1%;
}

.startButton, 
.readyToPartyButton, 
.btnNext,
.btnNewParty {
    width: 60%;
    position:absolute;
    left:50%;
    transform:translate(-50%);
}

.readyToPartyButton, 
.btnNext,
.btnNewParty {
    bottom: 4%;
    font-size: 1.8em;
    font-family: 'Shadows Into Light', cursive;
} 

/*-------------- DETAILS --------------*/

.details {
    color: #d650b0;
}

.detailsHeader {
    background-image: url(images/details.png);
    background-position-y: 50%;
}

.details .contentContainer {
    height: 85vh;
    padding: 4% 3% 0 3%;  
    overflow-y: scroll;
    text-align: center;
    background-color: #fce4ec;
}

.inputContainer {
    height: 72%;
    width: 80%;
    margin: 0 auto;
}

.readyToPartyButton, .editDetails {
    background-color: #d650b0;
}

.readyToPartyButton .fas {
    font-size: 0.9em;
}

.readyToPartyButton:hover {
    background-color: #d650b0;
}

/*-------------- COCKTAILS --------------*/

.cocktailDetails,
.cocktailItems,
.cocktailInfo {
    color: #45a6c4;
    background-color: #cdf1fd;
}

.cocktailsHeader {
    background-image: url(images/cocktails.png);
    background-position-y: 50%;
}

.cocktailsTitle .collection-item {
    margin-left: 27%;
}

.cocktailSearchButton, 
.cocktailSearchButton:hover, 
.goToFood, 
.goToFood:hover,
.editCocktails {
    background-color: #45a6c4;
}

.cocktailSearchInput, 
.cocktailSearchInput::placeholder, 
.cocktailsBadge.badge {
    color: #45a6c4;
}

/*-------------- FOOD --------------*/

.foodDetails, 
.foodItems,
.foodInfo {
    color: #b245c4;
    background-color: #f1cbf7;
}

.foodHeader {
    background-image: url(images/food.jpeg);
    background-position-y: 50%;
}

.foodTitle .collection-item {
    margin-left: 10%;
}

.foodSearchButton, 
.foodSearchButton:hover, 
.goToMusic, 
.goToMusic:hover,
.editFood {
    background-color: #b245c4;
}

.foodSearchInput, 
.foodSearchInput::placeholder, 
.foodBadge.badge {
    color: #b245c4;
}

/*-------------- MUSIC --------------*/

.musicDetails, 
.musicItems,
.musicInfo {
    color: #7d45d4;
    background-color: #d8c7f2;
}

.musicHeader {
    background-image: url(images/music.png);
    background-position-y: 90%;
}

.musicTitle .collection-item {
    margin-left: 39%;
}

.musicSearchButton, 
.musicSearchButton:hover, 
.goToParties, 
.goToParties:hover,
.editMusic {
    background-color: #7d45c4;
}

.musicSearchInput, 
.musicSearchInput::placeholder, 
.musicBadge.badge {
    color: #7d45d4;
}

/*-------------- PARTIES --------------*/

.partyDetails {
    color: white;
    background-color: #ccccff;
}

.partiesHeader, .editPartyHeader {
    background-image: url(images/party.jpg);
}

.partyTitle .collection-item {
    margin-left: 32%;
}

.goToDetails, .parties .btn-large:hover {
    background-color: #3232ff;
}

.partyBadge.badge {
    color: #3232ff;
}

/*-------------- EDIT PARTY --------------*/

.editParty .contentContainer {
    height: 85vh;
    background-color: #3232ff;
}

.collapsible {
    margin-top: 0;
    color: white;
    border-right: none;
    border-left: none;
    box-shadow: none;
}

.collapsible-header, .backToParties {
    font-size: 1.7em;
}

.collapsible-body {
    font-size: 1.3em;
    /*padding: 5%;*/
    color: black;
    padding: 4% 3% 0 3%;  
    overflow-y: scroll;
}

.collapsible-body p {
    margin-top: 0;
}

.detailsBody {
    background-color: #fbdaf1;
}

.cocktailsBody {
    background-color: #cdf1fd;
}

.foodBody {
    background-color: #f1cbf7;
}

.musicBody {
    background-color: #e3cefe;
}

.backToParties {
    height: 10vh;
    line-height: 10vh;
    background-color: #3232ff;
}

.fas.fa-glass-martini, 
.fas.fa-calendar-alt,
.fas.fa-utensils,
.fa-arrow-left {
    padding-top: 1.5%;
}

.fa-arrow-left {
    margin-left: 7%;
}

.editMusic .material-icons {
    font-size: 1.3em;
    padding-top: 1%;
}

/*-------------- DISPLAY SEARCH RESULTS --------------*/

.searchResults {
    height: 28.2%;
}

.searchResults img {
    height: 100px;
    width: 100px;
}

/*----------------- ADDED ITEMS -----------------*/

.addedItems {
    overflow-y: scroll;
}

.addedItems p {
    display: inline-block;
    margin-top: -2%;
    font-size: 1.7em;
}

.closeAddedItems {
    position: absolute;
    left: 3%;
}

/*----------------- CARD CONTAINERS -----------------*/

.cocktailItems .card {
    background-color: #45a6c4;
}

.cocktailItems .searchTitle{
    color:white;
}

.cocktailItems .itemDelete {
    background-color: #cdf1fd;
}

.foodItems .card {
    background-color: #b245c4;
}

.foodItems .itemDelete {
    background-color: #f1cbf7;
}

.musicItems .card {
    background-color: #7d45c4;
}

.musicItems .itemDelete {
    background-color: #e3cefe;
}

.card-image {
    width: 40%;
}

.itemDelete {
    position: absolute;
    right: 2.5%;
    bottom: 3%; 
    font-weight: 900;
}

.cocktailItems .trashIcon {
    color: #45a6c4;
}

.foodItems .trashIcon {
    color: #b245c4;
}

.musicItems .trashIcon {
    color: #7d45d4;
}

/*-------------- BADGES --------------*/

.collection-item {
    height: 5vh;
    width: 9%;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    color: white;  
}

.badge {
    position: relative;
    top: 11%;
    left: 14%;
    font-size: 0.5em !important;
    font-weight: 900;
}

/*-------------- SLICK --------------*/

.slider {
    height: 100px;
}

.slick-list {
    height: 80%;
}

.slick-slide p {
    margin-bottom: 5%;
}







/*----------------- OLD CODE -----------------*/

/*----------------- CALENDAR -----------------*/

.eventLink {
    margin-right: 5%;
}

.calendarButton {
    width: 15%;
}

/*----------------- MUSIC -----------------*/

.videoContainer {
    height: 95%;
}

.displayContainer {
    height: 95%;
}

.videoIFrame {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

/*----------------- MODALS -----------------*/

.informationContainer {
    display: none;
    position: absolute;
}

.searchContainer, 
.informationContainer {
    height: 85%;
    width: 100%;
    background-color: #f3e5f5;
}

.listImageContainer {
    float: left;
    padding: 0 3% 3% 0;
}

/*----------------- INFORMATION MODAL -----------------*/

.informationContainer {
    display:none;
    z-index: 5;
    overflow-y: scroll;
}

.displayContainer {
    padding: 0 3% 3% 3%;
}

.detailsImage {
    height: 100px;
}

.recipe {
    clear: left;
}

.ingredients {
    list-style-type: disc;
    list-style-position: inside;
}

/*----------------- FONTAWESOME -----------------*/

.fa-spinner {
    font-size: 3em;
    color: #9c27b0;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%); 
}

.activator {
    position: absolute;
    top: 5%;
    right: 0;
    color: white;
}

.contentContainer > p {
    text-align: center;
    font-weight: bold;
}

.informationContainer > .closeButton {
    position: relative;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}

.buttonPanel {
    display: flex;
    justify-content: center;
}

.buttonPannel .btn {
    margin: 20px;
}

.musicDetails .searchInputContainer {
    position: relative;
    bottom: 45%;
}
