html {
    touch-action: manipulation;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1, h2 {
    font-family: 'Shadows Into Light Two', cursive;
}

.hidden {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.desktop {
    width: 414px;
    height: 736px;
    margin: 2% auto;
}

.mobile {
    height: 100vh;
    width: 100%; 
}

/*----------------- LANDING PAGE -----------------*/
.landing{
    /* Adobe Stock Image Licensed by Karen King */
    background-image: url('images/landing-md.jpg');
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-size: cover;
    position:fixed;
    z-index:1;
}

.startButton {
    font-size: 1.7em;
    bottom: 10%;
    background-color: #d650b0;
    font-family: 'Shadows Into Light Two', cursive;
    max-width: 300px;
    height: auto;
    padding: 12px 16px;
}

.startButton:hover {
    background-color: #d650b0;
}

.mainTitle {
    position: relative;
    top: 2%;
    text-align:center;
    color: white;
    font-weight:bold;
    font-size:3.5rem;
    padding-top: 15px;
    font-family: 'Shadows Into Light Two', cursive;
}

.description {
    width: 80%;
    text-align:center;
    position:absolute;
    top:65%;
    left:50%;
    transform:translate(-50%, -50%);
    font-family: 'Shadows Into Light Two', cursive;
    color:white;
}

.upsideDown {
    display: inline-block;
    transform: scale(-1, 1); 
}

/*----------------- SECTIONS -----------------*/

.cocktailDetails,
.foodDetails,
.musicDetails,
.partyDetails, 
.itemInfo {
    height: 85vh;
    padding: 2% 3% 0 3%;
    text-align: center;
    overflow: hidden;
}

.detailsHeader, 
.cocktailsHeader, 
.foodHeader, 
.musicHeader,
.partiesHeader,
.editPartyHeader {
    height: 15vh;
    margin: 0;
    color: white;
    text-align: center;
    background-size: cover;
} 

.detailsTitle,
.cocktailsTitle,
.foodTitle,
.musicTitle,
.partyTitle,
.editPartyTitle {
    line-height: 15vh;
}

.details h4,
.cocktail h4, 
.food h4, 
.music h4 {
    margin: 5% 0 5% 0;
    font-size: 2rem;
}

.text:nth-child(2){
    margin-bottom: 8%;
}

.searchInputContainer {
    width: 370px;
    margin: 10% auto 0 auto;
    display: flex;
}

.searchImage {
    height: 200px;
}

.cocktailSearchInput,
.foodSearchInput, 
.musicSearchInput {
    margin: 0 10px 0 20px !important;
    width: 250px !important;
}

.cocktailSearchInput::placeholder,
.foodSearchInput::placeholder, 
.musicSearchInput::placeholder{
    opacity: 1;
}

.cocktailSearchButton,
.foodSearchButton, 
.musicSearchButton {
    width: 50px;
    height: 40px;
}

.startButton, 
.readyToPartyButton, 
.btnNext,
.btnNewParty {
    width: 250px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    font-family: 'Shadows Into Light Two', cursive;
}

.readyToPartyButton, 
.btnNext,
.btnNewParty {
    bottom: 4%;
    font-size: 1.8em;
} 

/*-------------- DETAILS --------------*/

.details {
    color: #d650b0;
}

.detailsHeader {
    background-image: url(images/details.png);
    background-position-y: 50%;
}

.details .contentContainer {
    height: 85vh;
    padding: 4% 3% 0 3%;  
    overflow-y: scroll;
    text-align: center;
    background-color: #fce4ec;
}

.inputContainer {
    height: 72%;
    width: 80%;
    margin: 0 auto;
}

.active {
    color: #d650b0 !important;
}

#detailsForm input[type=text]:not(.browser-default):focus:not([readonly]),
input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid #d650b0;
    box-shadow: 0 1px 0 0 #d650b0;
}

.readyToPartyButton, 
.editDetails {
    color: white;
    background-color: #d650b0;
}

.readyToPartyButton .fas {
    font-size: 0.9em;
}

.readyToPartyButton:hover {
    background-color: #d650b0;
}

.datepicker-date-display, 
.timepicker-digital-display {
    background-color: #d650b0;
}

.datepicker-done, 
.datepicker-cancel, 
.timepicker-close {
    color: #d650b0;
}

.datepicker-table td.is-selected {
    background-color: #d650b0;
    color: #fff;
}

.timepicker-canvas line {
  stroke: #d650b0;  
}

.timepicker-canvas-bg, 
.timepicker-canvas-bearing {
    fill: #d650b0;
}

.isToday {
    color: black;
}

/*-------------- COCKTAILS --------------*/

.cocktailDetails,
.cocktailItems,
.cocktailInfo {
    color: #45a6c4;
    background-color: #cdf1fd;
}

.cocktailItems .modal-close.btn {
    color: #cdf1fd;
    background-color: #45a6c4;
}

.cocktailsHeader {
    background-image: url(images/cocktails.png);
    background-position-y: 50%;
}

.cocktailsTitle .collection-item {
    margin-left: 27%;
}

.cocktailSearchButton, 
.cocktailSearchButton:hover, 
.goToFood, 
.goToFood:hover,
.editCocktails {
    background-color: #45a6c4;
}

.cocktailSearchInput, 
.cocktailSearchInput::placeholder, 
.cocktailsBadge.badge {
    color: #45a6c4;
}

/*-------------- FOOD --------------*/

.foodDetails, 
.foodItems,
.foodInfo {
    color: #b245c4;
    background-color: #f1cbf7;
}

.foodItems .modal-close.btn {
    color: #f1cbf7;
    background-color: #b245c4;
}

.foodHeader {
    background-image: url(images/food.jpeg);
    background-position-y: 50%;
}

.foodTitle .collection-item {
    margin-left: 10%;
}

.foodSearchButton, 
.foodSearchButton:hover, 
.goToMusic, 
.goToMusic:hover,
.editFood {
    background-color: #b245c4;
}

.foodSearchInput, 
.foodSearchInput::placeholder, 
.foodBadge.badge {
    color: #b245c4;
}

/*-------------- MUSIC --------------*/

.musicDetails, 
.musicItems,
.musicInfo {
    color: #7d45d4;
    background-color: #e3cefe;
}

.musicItems .modal-close.btn {
    color: #e3cefe;
    background-color: #7d45d4;
}

.musicHeader {
    background-image: url(images/music.png);
    background-position-y: 90%;
}

 .collection-item {
    margin-left: 39%;
}

.musicSearchButton, 
.musicSearchButton:hover, 
.goToParties, 
.goToParties:hover,
.editMusic {
    background-color: #7d45c4;
}

.musicSearchInput, 
.musicSearchInput::placeholder, 
.musicBadge.badge {
    color: #7d45d4;
}

.editMusicInfo {
    text-align: center;
}

.musicItems.addedItems .modal.open {
    display: none;
}

/*-------------- PARTIES --------------*/

.partyDetails {
    color: white;
    background-color: #ccccff;
}

.partiesHeader, .editPartyHeader {
    background-image: url(images/party.jpg);
}

.partyTitle .collection-item {
    margin-left: 32%;
}

.goToDetails, .parties .btn-large:hover {
    background-color: #3232ff;
}

.partyBadge.badge {
    color: #3232ff;
}

.partyDetails .card {
    width: 300px;
}

/*-------------- EDIT PARTY --------------*/

.editParty {
    overflow-x: scroll;
    height:100%
}

.editParty .contentContainer {
    height: 85vh;
    background-color: #3232ff;
}

.collapsible {
    margin-top: 0;
    color: white;
    border-right: none;
    border-left: none;
    box-shadow: none;
}

.collapsible-header, .backToParties {
    font-size: 1.7em;
}

.collapsible-body {
    font-size: 1.3em;
    color: black;
    padding: 4% 3% 0 3%;  
    overflow-y: scroll;
}

.collapsible-body p {
    margin-top: 0;
}

.detailsBody {
    font-size: 1.5em;
    color: #d650b0;
    padding-left: 5%;
    background-color: #fbdaf1;
}

.cocktailsBody {
    background-color: #cdf1fd;
}

.foodBody {
    background-color: #f1cbf7;
}

.musicBody {
    background-color: #e3cefe;
}

.backToParties {
    height: 10vh;
    line-height: 10vh;
    background-color: #3232ff;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 1;
}

.fas.fa-glass-martini, 
.fas.fa-calendar-alt,
.fas.fa-utensils,
.fa-arrow-left {
    padding-top: 1.5%;
}

.fa-arrow-left {
    margin-left: 7%;
}

.editMusic .material-icons {
    font-size: 1.3em;
    padding-top: 1%;
}

.partyDetails .card {
    font-size: 1.5em;
    background-color: #3232ff;
}

.partyDetails .card-content {
    color: white;
    text-align: left;
}

.btnAddToCalendar, .btnEditParty {
    color: white !important;
}

.collapsible-body {
    height: 35vh;
    overflow-y: scroll;
}

/*-------------- DISPLAY SEARCH RESULTS --------------*/

.results-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slick-list.draggable {
    height: 160px;
}

.slide.slick-slide {
    width: 100px !important;
    height: 100px !important;
    margin: 0 0.2%;
}

.searchResults {
    height: 200px;
}

.searchResults img {
    height: 100px;
    width: 100px;
}

.fa-spinner {
    font-size: 3em;
    color: white;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%); 
}

/*----------------- ADDED ITEMS -----------------*/

.addedItems {
    height: 85vh;
    text-align: center;
    overflow-y: scroll;
}

.addedItems p {
    display: inline-block;
    margin: -2% 0 1% 0;
    font-size: 1.7em;
}

.closeAddedItems {
    position: absolute;
    left: 15px;
    top: 15px;
}

.wrapper {
    height: 70px;
    line-height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.cocktailItems .wrapper {
    color: #45a6c4;
    background-color: #cdf1fd;
}

.foodItems .wrapper {
    color: #b245c4;
    background-color: #f1cbf7;
}

.musicItems .wrapper {
    color: #7d45c4;
    background-color: #e3cefe;
}

.clearFix {
    height: 9vh;
}

.material-icons.right.activator {
    color: white;
    position: absolute;
    top: 5%;
    left: 83%;
}

/*----------------- CARD CONTAINERS -----------------*/

.card {
    width: 500px;
    height: 200px;
    margin: 20px;
}

.card.horizontal.selected {
    width: 372px;
}

.cocktailsBody .modal p{
    font-size:15px;
}

.card-content {
    padding: 4% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image {
    width: 50%;
}

.card-image img {
    height: 200px;
}

.button-wrapper {
    width: 170px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titleLink {
    text-align: center;  
}

.cocktailItems .searchTitle,
.foodItems .searchTitle,
.musicItems .searchTitle {
    color: white;
    font-size: 1.2em;
}

.cocktailsBody .searchTitle,
.foodBody .searchTitle,
.musicBody .searchTitle {
    color: white;
    font-size: 1.2em;
}

.cocktailItems .card, 
.cocktailsBody .card {
    background-color: #45a6c4;
}

.cocktailItems .itemDelete,
.cocktailsBody .itemDelete,
.cocktailItems .modal-trigger,
.cocktailsBody .modal-trigger {
    background-color: #cdf1fd;
}

.foodItems .card,
.foodBody .card {
    background-color: #b245c4;
}

.foodItems .itemDelete,
.foodBody .itemDelete,
.foodItems .modal-trigger,
.foodBody .modal-trigger {
    background-color: #f1cbf7;
}

.musicItems .card,
.musicBody .card {
    background-color: #7d45c4;
}

.musicItems .itemDelete,
.musicBody .itemDelete,
.musicItems .modal-trigger,
.musicBody .modal-trigger {
    background-color: #e3cefe;
}

.cocktailItems .trashIcon,
.cocktailsBody .trashIcon,
.cocktailItems .infoIcon,
.cocktailsBody .infoIcon  {
    color: #45a6c4;
    font-size: 30px;
}

.foodItems .trashIcon,
.foodBody .trashIcon,
.foodItems .infoIcon,
.foodBody .infoIcon {
    color: #b245c4;
    font-size: 30px;
}

.musicItems .trashIcon,
.musicBody .trashIcon,
.musicItems .infoIcon,
.musicBody .infoIcon {
    color: #7d45d4;
    font-size: 30px;
}

.cocktailsBody .card.horizontal.selected,
.foodBody .card.horizontal.selected,
.musicBody .card.horizontal.selected {
    margin-top: 0;
}

.detailsBody,
.cocktailsBody,
.foodBody,
.musicBody {
    height: 70vh;
    padding-top: 25px;
}

.detailsBody p {
    margin-top: 0;
}

/*-------------- BADGES --------------*/

.collection-item {
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    color: white;  
}

.badge {
    font-size: 0.5em !important;
    position: relative;
    top: 35%;
    left: -12%;
}

/*-------------- SLICK --------------*/

.slick-list {
    height: 80%;
}

.slick-slide p {
    margin-bottom: 5%;
}

/*-------------- LAST MINUTE FIXES --------------*/

.addedItems .card {
    text-align: left;
}

.material-icons.right.close {
    position: absolute;
    top: 4%;
    left: 80%;
}

.addedItems .card-reveal .class-title {
    font-size: 2.3em;
    margin-bottom: 5%;
}

.collapsible-body {
    height: 55vh;;
    overflow-y: scroll;
}

.videoDisplay {
    position: absolute;
    top: 15%;
    left: 0;
    height: 85%;
    width: 100%;
    background-color: black;
    z-index: 2;
}

.musicDetailClose {
    display: block;
    margin: 3% 0 0 90%;
}

/*-------------- Modal --------------*/

.modal{
    padding: .5rem;
    max-height:80%;
}

.modal-content, 
.modal-footer{
    font-size:10px;
}

.modal-footer {
    text-align: center !important;
}

.modal-content .class-title {
    text-align: center;
    margin-bottom: 12px;
}

.buttonStyle{
    position: absolute;
    right: 2.5%;
    top: 3%; 
    font-weight: 900;
    background-color: #cdf1fd;
}

li {
    font-size: 1.7em;
    list-style-type: none;
}

/*----------------- POINTER -----------------*/

.badge,
.slide.slick-slide,
.closeAddedItems,
.musicDetailClose {
    cursor: pointer;
}

/*----------------- MEDIA QUERIES -----------------*/

@media only screen and (min-width: 415px){
    body {
        background-image: url('./images/iphone.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .mainTitle {
        font-size: 3rem;
    }

    .startButton,
    .readyToPartyButton, 
    .btnNext, 
    .btnNewParty {
        bottom: 2%;
    }

    .detailsHeader, 
    .cocktailsHeader, 
    .foodHeader, 
    .musicHeader, 
    .partiesHeader, 
    .editPartyHeader {
        height: 10vh;
    }

    .detailsTitle, 
    .cocktailsTitle, 
    .foodTitle, 
    .musicTitle, 
    .partyTitle, 
    .editPartyTitle {
        line-height: 10vh;
    }

    .landing,
    .details,
    .cocktail,
    .food,
    .music,
    .parties,
    .editParty {
        height: 542px;
        width: 330px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .details .contentContainer,
    .editParty .contentContainer,
    .cocktailDetails, 
    .foodDetails, 
    .musicDetails, 
    .partyDetails, 
    .itemInfo,
    .addedItems,
    .detailsBody {
        height: 59vh;;
    }

    .wrapper,
    .backToParties {
        width: 330px;
    }

    .card.horizontal.selected {
        height: 135px;
        width: 290px;
    }

    .card-image img {
        height: 100%;
    }

    .modal {
        width: 300px;
    }

    .modal-overlay {
        top: 0;
        height: 101%;
    }

    .partyDetails .card {
        width: 270px;
        height: auto;
        margin: 20 auto;
    }

    .datepicker-container.modal-content,
    .modal-content.timepicker-container {
        flex-direction: column;
    }

    .modal.datepicker-modal.open {
        top: 2%;
    }

    .addItems h4,
    .details h4 {
        font-size: 1.5rem;
    }

    .addItems h5 {
        font-size: 1.3rem;
    }

    .collection-item .badge {
        min-width: 0;
        padding: 0;
        margin-left: 0;
        text-align: left;
        font-size: 0;
        line-height: 0;
        height: 0;
        color: #757575;
        float: right;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .cocktailsTitle .collection-item {
        margin-left: 15%;
    }

    .foodTitle .collection-item {
        margin-left: 5%;
    }

    .searchResults {
        height: 175px;
    }

    .cocktailSearchInput, 
    .foodSearchInput, 
    .musicSearchInput {
        width: 200px !important;
    }

    .musicInfo {
        background-color: transparent; 
    }

    .videoDisplay {
        top: 14.5%;
        height: 59vh;
    }

    .card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
        margin-right: 0; 
    }

    .badge {
        top: 52%;
        left: -37%;
    }

}